/.vs/Spoilers/v14/*.suo
/packages/Antlr.3.4.1.9004/*.nupkg
/packages/Antlr.3.4.1.9004/lib/*.dll
/packages/Antlr.3.4.1.9004/lib/*.pdb
/packages/EntityFramework.6.1.3/*.nupkg
/packages/EntityFramework.6.1.3/content/*.transform
/packages/EntityFramework.6.1.3/lib/net40/*.dll
/packages/EntityFramework.6.1.3/lib/net40/*.xml
/packages/EntityFramework.6.1.3/lib/net45/*.dll
/packages/EntityFramework.6.1.3/lib/net45/*.xml
/packages/EntityFramework.6.1.3/tools/*.dll
/packages/EntityFramework.6.1.3/tools/*.psd1
/packages/EntityFramework.6.1.3/tools/*.psm1
/packages/EntityFramework.6.1.3/tools/*.txt
/packages/EntityFramework.6.1.3/tools/*.ps1
/packages/EntityFramework.6.1.3/tools/*.exe
/packages/Knockout.Validation.1.0.1/*.nupkg
/packages/Knockout.Validation.1.0.1/content/Scripts/*.js
/packages/Microsoft.AspNet.Identity.Core.2.2.1/*.nupkg
/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/*.dll
/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/*.xml
/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/*.nupkg
/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/*.dll
/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/*.xml
/packages/Microsoft.AspNet.Identity.Owin.2.2.1/*.nupkg
/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/*.dll
/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/*.xml
/packages/Microsoft.AspNet.Mvc.5.2.3/Content/*.xdt
/packages/Microsoft.AspNet.Mvc.5.2.3/*.nupkg
/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/*.dll
/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/*.xml
/packages/Microsoft.AspNet.Razor.3.2.3/*.nupkg
/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/*.dll
/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/*.xml
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/*.nupkg
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/*.dll
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/*.xml
/packages/Microsoft.AspNet.WebApi.5.2.3/*.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/*.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/*.dll
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/*.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/*.dll
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/*.xml
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/Content/*.transform
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/*.nupkg
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/*.dll
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/*.xml
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/*.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/App_Start/*.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Controllers/*.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/*.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Models/*.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/*.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/*.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/*.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Shared/*.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/*.config
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/*.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/*.nupkg
/packages/Microsoft.AspNet.WebApi.Owin.5.2.3/*.nupkg
/packages/Microsoft.AspNet.WebApi.Owin.5.2.3/lib/net45/*.dll
/packages/Microsoft.AspNet.WebApi.Owin.5.2.3/lib/net45/*.xml
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/*.nupkg
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/*.dll
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/*.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/Content/*.xdt
/packages/Microsoft.AspNet.WebPages.3.2.3/*.nupkg
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/*.dll
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/*.xml
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/*.nupkg
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build/*.props
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/*.xdt
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/*.dll
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/*.xml
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/*.ps1
/packages/Microsoft.Net.Compilers.1.0.0/*.nupkg
/packages/Microsoft.Net.Compilers.1.0.0/*.rtf
/packages/Microsoft.Net.Compilers.1.0.0/build/*.props
/packages/Microsoft.Net.Compilers.1.0.0/tools/*.dll
/packages/Microsoft.Net.Compilers.1.0.0/tools/*.targets
/packages/Microsoft.Net.Compilers.1.0.0/tools/*.exe
/packages/Microsoft.Net.Compilers.1.0.0/tools/*.config
/packages/Microsoft.Owin.3.0.1/*.nupkg
/packages/Microsoft.Owin.3.0.1/lib/net45/*.XML
/packages/Microsoft.Owin.3.0.1/lib/net45/*.dll
/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/*.nupkg
/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/*.dll
/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/*.xml
/packages/Microsoft.Owin.Security.3.0.1/*.nupkg
/packages/Microsoft.Owin.Security.3.0.1/lib/net45/*.XML
/packages/Microsoft.Owin.Security.3.0.1/lib/net45/*.dll
/packages/Microsoft.Owin.Security.Cookies.3.0.1/*.nupkg
/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/*.dll
/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/*.xml
/packages/Microsoft.Owin.Security.Facebook.3.0.1/*.nupkg
/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/*.XML
/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/*.dll
/packages/Microsoft.Owin.Security.Google.3.0.1/*.nupkg
/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/*.XML
/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/*.dll
/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/*.nupkg
/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/*.XML
/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/*.dll
/packages/Microsoft.Owin.Security.OAuth.3.0.1/*.nupkg
/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/*.XML
/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/*.dll
/packages/Microsoft.Owin.Security.Twitter.3.0.1/*.nupkg
/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/*.XML
/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/*.dll
/packages/Microsoft.Web.Infrastructure.1.0.0.0/*.nupkg
/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/*.dll
/packages/Modernizr.2.6.2/Content/Scripts/*.js
/packages/Modernizr.2.6.2/*.nupkg
/packages/Modernizr.2.6.2/Tools/*.ps1
/packages/Newtonsoft.Json.6.0.4/*.nupkg
/packages/Newtonsoft.Json.6.0.4/lib/net20/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/net20/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/net35/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/net35/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/net40/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/net40/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/net45/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/net45/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/netcore45/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/netcore45/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/*.xml
/packages/Newtonsoft.Json.6.0.4/tools/*.ps1
/packages/Owin.1.0/*.nupkg
/packages/Owin.1.0/lib/net40/*.dll
/packages/Respond.1.2.0/*.nupkg
/packages/Respond.1.2.0/content/Scripts/*.js
/packages/Sammy.js.0.7.4/Content/Scripts/*.js
/packages/Sammy.js.0.7.4/*.nupkg
/packages/Sammy.js.0.7.4/Tools/*.ps1
/packages/WebGrease.1.5.2/*.nupkg
/packages/WebGrease.1.5.2/lib/*.dll
/packages/WebGrease.1.5.2/tools/*.exe
/packages/bootstrap.3.0.0/*.nupkg
/packages/bootstrap.3.0.0/content/Content/*.css
/packages/bootstrap.3.0.0/content/Scripts/*.js
/packages/bootstrap.3.0.0/content/fonts/*.eot
/packages/bootstrap.3.0.0/content/fonts/*.svg
/packages/bootstrap.3.0.0/content/fonts/*.ttf
/packages/bootstrap.3.0.0/content/fonts/*.woff
/packages/jQuery.1.10.2/Content/Scripts/*.js
/packages/jQuery.1.10.2/Content/Scripts/*.map
/packages/jQuery.1.10.2/Tools/*.ps1
/packages/jQuery.1.10.2/Tools/*.js
/packages/jQuery.1.10.2/*.nupkg
/packages/knockoutjs.2.3.0/Content/Scripts/*.js
/packages/knockoutjs.2.3.0/*.nupkg
